<div class="container-wrap " style="background:no-repeat url(<%=@topic.head_img.url if @topic%>) 50% 0;background-size:cover;">
  <div class="container" style="height:648px">
    <div class="carousel_text">
      <h2>搜索</h2>
    </div>
  </div>
</div>
<div class="container-wrap">
  <div class="container main-content" >
    <div class="row"> 
      <!-- 右边栏-->
      <div class="main_aside fl">
       
      </div>
      <!-- //右边栏--> 
      <!-- 左内容-->
      <div class="main_container layout_single clearfix">
        <!--游戏收藏-->
        <div class="container_banner">
          <div class="container_date">
            <div class="container_date_all" style="border-bottom:1px solid #c3c3c3;"><a href="javascript:;" class="view-all"><!-- 查看所有 --></a><span class="title">游戏</span></div>
          </div>
        </div>
        <div class="container_banner">
          <%=render "widgets/favorite_games", games:@games %>
         
        </div>
        <!--//游戏收藏-->
        
        <!--新闻收藏-->
        <div class="container_banner">
          <div class="container_date" style="padding-bottom:0;">
            <div class="container_date_all"><a href="javascript:;" class="view-all"><!-- 查看所有 --></a><span class="title">新闻</span></div>
          </div>
        </div>
        <div class="container_banner">
          <%=render "widgets/favorite_news",news: @news %>
        </div>
        <!--//新闻收藏-->
        
        <!--文章收藏-->
        <div class="container_banner">
          <div class="container_date" style="padding-bottom:0;">
            <div class="container_date_all"><a href="javascript:;" class="view-all"><!-- 查看所有 --></a><span class="title">文章</span></div>
          </div>
        </div>
        <div class="container_banner">
          <%=render "widgets/favorite_articles",articles:@articles %>
        </div>
        </div>
        <!--//文章收藏-->
        <div class="clear"></div>
      </div>
      <!-- //左内容--> 
    </div>
  </div>
</div>