<% content_for :page_title do %>
<% path = 
   case params[:category]
   when '前瞻' then previews_admin_articles_path
   when '评测' then evaluations_admin_articles_path
   when '业界评论' then voices_admin_articles_path
   else admin_articles_url end %>
<%= render "title_bar",title:params[:category],path:path  %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="portlet-body form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>