<div class="common_title clearfix">
  <h4>个人信息</h4>
</div>
<div class="aside_private">
  <div class="private_pic_wrap">
    <div class="private_pic"><img src="<%=@user.avatar.url%>" alt="基王"></div>
  </div>
  <div class="private_info">
    <div class="private_name"><%=@user.pet_name%></div>
  </div>
  <div class="private_ul">
    <!-- <li><a href="javascript:;">收件箱<span class="tip_num">3</span></a></li> -->
    
  </div>
</div>