<div class="container">
    <div class="footer-p">
      <div class="footer-logo"><img src="/front/images/foot-logo.png" alt="" /></div>
      <span>致力于提供杂志式的网络阅读体验，推送原创优质游戏评测，独家新闻报道，社论，专栏，采访以及各种核心向游戏媒体内容。</span> </div>
    <div class="footer-link"><a href="/descriptions/team" class="editor">编辑团队</a><a href="/descriptions/suggestion" class="suggest">建议和BUG汇报</a><a href="/descriptions/submission" class="submiss">投稿须知</a><a href="/descriptions/term" class="law">法律条款</a><a href="/descriptions/disclaimer" class="statement">免责声明</a><a href="/descriptions/cooperation" class="cooperate">合作洽谈</a><a href="http://weibo.com" class="sinaweibo">新浪微博</a><a href="http://youku.com" class="youkuvideo">优酷频道</a></div>
    <div class="footer-copyright"> © 2014 Boven Jacée Interactive Inc. All rights reserved. </div>
</div>