<header id="top">
    <div class="alltips">
      <div class="tip-wrapper">
        <div class="learn-more"> <a href="#" class="learn-more-btn">了解更多</a> <img src="/front/images/learnm_tips.png" class="learn-more-img" alt="mrgamer致力于提供杂志般的游戏文章推送" /> </div>
        <div class="add-follow"><a href="javascipt:;" class="follow-sina">关注新浪</a><a href="javascipt:;" class="follow-youku">关注优酷</a></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col span_2"> <a id="logo" href="http://www.mrgamer.com"><img id="default-logo" alt="" src="/front/images/fav.png" /></a></div>
        <div class="col span_3">
          <div id="search-outer">
            <div id="search">
              <div id="search-box">
                <form action="http://www.mrgamer.com" method="GET">
                  <input type="text" name="s" id="s" value="" placeholder="请输入想要搜索的内容" class="ui-autocomplete-input" autocomplete="off">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col span_5" style="float:right">
          <ul class="nav">
            <li>
              <a href="#">游戏库</a>
              <div class="nav-dropbox">
                    <ul>
                        <li><a href="#">New Games</a></li>
                        <li><a href="#">GameSpot Fifty</a></li>
                    </ul>
                </div>
            </li>
            <li>
              <a href="#">新闻</a>
                <div class="nav-dropbox">
                    <ul>
                        <li><a href="#">新闻</a></li>
                        <li><a href="#">新闻</a></li>
                    </ul>
                </div>
            </li>
            <li>
              <a href="#">前瞻</a>
                <div class="nav-dropbox">
                    <ul>
                        <li><a href="#">前瞻</a></li>
                        <li><a href="#">前瞻</a></li>
                    </ul>
                </div>
            </li>
            <li>
              <a href="#">评测</a>
                <div class="nav-dropbox">
                    <ul>
                        <li><a href="#">评测</a></li>
                        <li><a href="#">评测</a></li>
                    </ul>
                </div>
            </li>
            <li>
              <a href="#">业界评论</a>
                <div class="nav-dropbox">
                    <ul>
                        <li><a href="#">业界评论</a></li>
                        <li><a href="#">业界评论</a></li>
                    </ul>
                </div>
            </li>
          </ul>
          <div class="user-login clearfix">
            <a href="#mr-loginbox" class="btn-login fancybox">登录</a>
            <a href="#mr-regbox" class="btn-reg fancybox">注册</a>
          </div>
          <div class="user-info">
            <div class="user-name">基王</div>
            <div class="user-img"><img src="/front/img/user_head.jpg" alt="" /></div>
            <div class="user-tipnum">3</div>
            <div class="user-dropbox">
              <div class="arr"></div>
                <div class="arr_in"></div>
              <ul>
                  <li><a href="#" class="private-page">个人主页</a></li>
                    <li><a href="#" class="edit-profile">修改资料</a></li>
                    <li class="act"><a href="#" class="new-message">新消息（3条）</a></li>
                    <li><a href="#" class="login-out">注销</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<%=render "shared_front/login" %>
<%=render "shared_front/register" %>