<div id="mr-loginbox" style="display:none;" class="popbox">
  <div class="common_title clearfix"> <a href="#" class="aside_more">没有帐号？注册<span>&gt;</span></a>
    <h4>登录</h4>
    <div class="reg_tab">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th scope="row">昵称</th>
            <td><input type="text" class="reg_input" /></td>
          </tr>
          <tr>
            <th scope="row">密码</th>
            <td><input type="password" class="reg_input" /></td>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td><label><input type="checkbox" class="reg_check" checked="checked"/>记住密码 </label></td>
          </tr>
          <tr>
            <td colspan="2"><a href="#" class="btn-reg">登录</a><div class="reg_tips">登录后可以收藏新闻、文章以及游戏。
发表评论、给游戏评分并且可以参与一系列网站活动。</div></td>
          </tr>
           <tr>
            <td colspan="2"><div class="disline"><span class="disline_f">or</span></div></td>
          </tr>
          <tr>
            <td colspan="2"><div class="other_login"><a href="#" class="weibo_style"></a><a href="#" class="qq_style"></a></div></td>
          </tr>
        </table>

    </div>
  </div>
</div>