<div class="common_title clearfix">
  <h4>作者信息</h4>
</div>
<div class="author_info">
  <dl class="clearfix">
      <dt><a href="#"><img src="<%=author.avatar.url%>" alt="Bobby Kotick" /></a></dt>
      <dd class="name clearfix"><span class="author_name"><a href="/users/<%=author.pet_name%>"><%=author.pet_name%></a></span><span class="sns_btn"><a href="javascript:;" class="share" title="分享">share</a></span><span class="intro"><%=author.signature%></span></dd>
    </dl>
</div>