<div class="container_wrap">
  <div class="aside_date clearfix"><span class="day">21</span><span class="month-week">五月<br />
    周二</span></div>
  <div class="aside_date_tip">Xbox One发布会</div>
  <div class="container_pic"><img src="img/t1.jpg" alt=""></div>
</div>
<div class="date_tab">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th scope="col">周一</th>
      <th scope="col">周二</th>
      <th scope="col">周三</th>
      <th scope="col">周四</th>
      <th scope="col">周五</th>
      <th scope="col">周六</th>
      <th scope="col">周日</th>
    </tr>
    <tr>
      <td><div class="nogo">29</div></td>
      <td><div class="nogo">30</div></td>
      <td><div class="normal">1</div></td>
      <td><div class="normal">2</div></td>
      <td><div class="normal">3</div></td>
      <td><div class="normal">4</div></td>
      <td><div class="normal">5</div></td>
    </tr>
    <tr>
      <td><div class="normal">6</div></td>
      <td><div class="normal">7</div></td>
      <td><div class="normal">8</div></td>
      <td><div class="normal">9</div></td>
      <td><div class="normal">10</div></td>
      <td><div class="normal">11</div></td>
      <td><div class="event">12</div></td>
    </tr>
    <tr>
      <td><div class="normal">13</div></td>
      <td><div class="normal">14</div></td>
      <td><div class="normal">15</div></td>
      <td><div class="event">16</div></td>
      <td><div class="normal">17</div></td>
      <td><div class="normal">18</div></td>
      <td><div class="normal">19</div></td>
    </tr>
    <tr>
      <td><div class="normal">20</div></td>
      <td><div class="event active">21</div></td>
      <td><div class="normal">22</div></td>
      <td><div class="normal">23</div></td>
      <td><div class="normal">24</div></td>
      <td><div class="normal">25</div></td>
      <td><div class="normal">26</div></td>
    </tr>
    <tr>
      <td><div class="normal">27</div></td>
      <td><div class="normal">28</div></td>
      <td><div class="normal">29</div></td>
      <td><div class="normal">30</div></td>
      <td><div class="normal">31</div></td>
      <td><div class="nogo">2</div></td>
      <td><div class="nogo">2</div></td>
    </tr>
  </table>
</div>