<!-- <div class="container_date">
  <div class="container_date_in"> <span class="week">周日</span> <span class="month-day">2.1</span> </div>
</div> -->
<% news.each do |n|%>
  <%=render 'widgets/news_info',news: n, title: '新闻' %>
<% end%>
