<div class="common_title clearfix">
  <h4>搜索游戏</h4>
</div>
<div class="search_wrap">
      <div id="search-outer">
      <div id="search">
        <div id="search-box">
          <form action="http://www.mrgamer.com" method="GET">
            <input type="text" name="s" id="s" value="" placeholder="请输入想要搜索的内容" class="ui-autocomplete-input" autocomplete="off">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">No search results.</span>
          </form>
        </div>
      </div>
    </div>
</div>
<div class="game_search">
  <div class="search_block clearfix">
    <div class="search_title">搜索条件</div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">平台</div>
    <div class="search_option"><select><option selected>所有平台</option><option>其它</option></select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">主题</div>
    <div class="search_option"><select><option selected>所有主题</option><option>其它</option></select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">最低分</div>
    <div class="search_option"><select><option selected>无下限</option><option>其它</option></select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">语言</div>
    <div class="search_option"><select><option selected>所有语言</option><option>其它</option></select></div>
  </div>
  <div class="search_block clearfix">
    <div class="search_type">发售日期</div>
    <div class="search_option"><select><option selected>起始日期</option><option>其它</option></select></div>
     <div class="search_option"><select><option selected>结束日期</option><option>其它</option></select></div>
  </div>
</div>