<div class="common_title clearfix"> <a href="/comments" class="aside_more">查看所有<span>&gt;</span></a>
  <h4>业界声音</h4>
</div>
<div class="industry_wrap">
  <% voices.each do |f|%>
    <div class="industry_block">
    <dl class="clearfix">
      <dt><img src="<%=f.avatar.url%>" alt="Bobby Kotick" /></dt>
      <dd class="name"><%=f.user_name%></dd>
      <dd class="title"><%=f.user_title%></dd>
    </dl>
    <div class="bubble">
      <div class="arr"></div>
      <div class="arr_in"></div>
      <span class="quotes">"</span><%=f.content%><span class="quotes">"</span></div>
  </div>
  <% end %>
</div>
