<div class="common_title clearfix"> <a href="#" class="aside_more">查看所有<span>&gt;</span></a>
  <h4>业界声音</h4>
</div>
<div class="industry_wrap">
  <div class="industry_block">
    <dl class="clearfix">
      <dt><img src="/front/img/jp_head.jpg" alt="Bobby Kotick" /></dt>
      <dd class="name">Bobby Kotick</dd>
      <dd class="title">Activision公司首席执行官</dd>
    </dl>
    <div class="bubble">
      <div class="arr"></div>
      <div class="arr_in"></div>
      <span class="quotes">"</span>日本的游戏公司在次世代的道路上已经有些跟不上脚步，不过Activision非常乐意为同行提供技术<span class="ellipsis">……</span><span class="hid">省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的。</span><a href="javascript:;" class="view-all">[全部]</a><span class="quotes">"</span></div>
  </div>
  <div class="industry_block">
    <dl class="clearfix">
      <dt><img src="/front/img/jp_head.jpg" alt="Bobby Kotick" /></dt>
      <dd class="name">Bobby Kotick</dd>
      <dd class="title">Activision公司首席执行官</dd>
    </dl>
    <div class="bubble">
      <div class="arr"></div>
      <div class="arr_in"></div>
      <span class="quotes">"</span>日本的游戏公司在次世代的道路上已经有些跟不上脚步，不过Activision非常乐意为同行提供技术上的帮助。<span class="quotes">"</span></div>
  </div>
  <div class="industry_block">
    <dl class="clearfix">
      <dt><img src="/front/img/jp_head.jpg" alt="Bobby Kotick" /></dt>
      <dd class="name">Bobby Kotick</dd>
      <dd class="title">Activision公司首席执行官</dd>
    </dl>
    <div class="bubble">
      <div class="arr"></div>
      <div class="arr_in"></div>
      <span class="quotes">"</span>日本的游戏公司在次世代的道路上已经有些跟不上脚步，不过Activision非常乐意为同行提供技术<span class="ellipsis">……</span><span class="hid">省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的省略号代表的。</span><a href="javascript:;" class="view-all">[全部]</a><span class="quotes">"</span></div>
  </div>
</div>
