<h3 class="page-title">
业界声音
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li class="btn-group">
    <button type="button" class="btn grey dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" />
    <span>操作</span>
    <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li><%= link_to "添加业界声音", new_admin_voice_path %></li>
    </ul>
  </li>
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "MG管理系统", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "业界声音", admin_voices_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>