<h3 class="page-title">
声明
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li class="btn-group">
    
  </li>
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "MG管理系统", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "声明", admin_descriptions_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>